*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(229, 229, 229, 1), rgba(171, 171, 171, 1));
    background-size: cover;
    font-family: sans-serif;
   height: 100vh;
    }
  
    header {
      background: #8BC34A;
      width: 100%;
      clear: both;
      content:'';
      display: table;
    }
    
    .menu {
      margin: 0 auto;
    }
    
    img {
      width: 140px;
      float: left;
      margin-left: 50px;
      padding: 8px;
    
    }
    
    nav {
      float: right;
      height: 60px;
      width: 100%;
    }
    
    nav ul {
      float: right;
      margin-right: 80px;
    }
    nav ul li {
      list-style: none;
      margin-left: 75px;
      padding: 20px 0;
      float: left;
      position: relative;
    }
    
    nav ul li a {
      text-decoration: none;
      color: #fff;
      font-weight: bold;
    }
    
    nav ul li a::before {
      display: block;
      content: '';
      width: 0%;
      background: #444;
      height: 5px;
      top:0;
      position: absolute;
      transition: width 0.2s;
    }
    
    nav ul li a:hover {
      color: #444;
      transition: width 0.2s;
    }
  
    nav ul li a:hover::before {
      width: 100%;
    }
  
  main {
    width: 700px;
    height: 700px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .formulario-recepcion {
    height: 700px;
    background: white;
    color: black;
    top: 50%;
    left: 50%;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 20px 30px;
    box-shadow:  2px 2px 2px 2px rgba(0, 0, 0, 0.1);
    }
  
  .formulario-recepcion h1 {
    color: #8BC34A;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
    margin: 0;
    text-align: center;
    font-size: 30px;
  }
 
  .formulario-recepcion label {
    margin: 0;
    margin-top: 10px;
    padding: 0;
    font-weight: bold;
    display: block;
  } 
  
.formulario-recepcion input[type="password"] {
  margin: 0;
  margin-bottom: 50px;
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: black;
  font-size: 16px;
  }

  .formulario-recepcion input[type="text1"] {
    margin: 0;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
    }

  .formulario-recepcion input[type="button"] {
    width: 100%;
    margin-bottom: 30px;
  }
  
  .formulario-recepcion input[type="text"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    width: 570px;
    height: 40px;
    color: black;
    font-size: 16px;
    background-color: #ECECEC;
    border-radius: 20px;  
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 10px;
    margin-right: 10px;
  } 

.containerb div {
    margin-top: 40px;
    width: 39px;
    height: 39px;
    display: table;
    background-color: #8BC34A;
    border-radius: 50px;
}  

 .containerb img {
   margin: 6px 5px 5px 5px;
   margin: 0;
   width: 40px;
   float: right;
   cursor: pointer;
  }

  .formulario-recepcion input[type="button"] {
    border: none;
    outline: none;
    height: 40px;
    background: #8BC34A;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .formulario-recepcion input[type="button"]:hover {
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #529844;
    color: white;
  }

/*Tabla clientes*/
table {
    margin: 70px;
    caption-side: bottom;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: 600px;
}

th {
    background-color: #8BC34A;
    color: white;
}

td, th {
    border: solid 1px #eee;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

tr:nth-child(even) {
  background-color: #eee;
  cursor: pointer;
}

tr:hover {
  background-color: #aaa;
  cursor: pointer;
  transition: 0.3s ease;
}

th:hover {
  background-color: #529844;
  cursor: pointer;
  transition: 0.3s ease; 
}

 /* footer */
 footer {
    background-color: #000;
    padding: 3rem;
    color: #fff;
  }
  
  footer .izquierda {
    float: left;
  }
  footer .derecha {
    float: right;
    margin: 0;
  }
  
  footer p {
    margin: 0;
  }